/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@checkbox-checked-name: checkbox-checked;
@checkbox-checked-x: 0px;
@checkbox-checked-y: 116px;
@checkbox-checked-offset-x: 0px;
@checkbox-checked-offset-y: -116px;
@checkbox-checked-width: 30px;
@checkbox-checked-height: 30px;
@checkbox-checked-total-width: 140px;
@checkbox-checked-total-height: 146px;
@checkbox-checked-image: '../../src/images/sprite_2x.png';
@checkbox-checked: 0px 116px 0px -116px 30px 30px 140px 146px '../../src/images/sprite_2x.png' checkbox-checked;
@checkbox-empty-name: checkbox-empty;
@checkbox-empty-x: 32px;
@checkbox-empty-y: 106px;
@checkbox-empty-offset-x: -32px;
@checkbox-empty-offset-y: -106px;
@checkbox-empty-width: 30px;
@checkbox-empty-height: 30px;
@checkbox-empty-total-width: 140px;
@checkbox-empty-total-height: 146px;
@checkbox-empty-image: '../../src/images/sprite_2x.png';
@checkbox-empty: 32px 106px -32px -106px 30px 30px 140px 146px '../../src/images/sprite_2x.png' checkbox-empty;
@chevron-bottom-grey-name: chevron-bottom-grey;
@chevron-bottom-grey-x: 96px;
@chevron-bottom-grey-y: 66px;
@chevron-bottom-grey-offset-x: -96px;
@chevron-bottom-grey-offset-y: -66px;
@chevron-bottom-grey-width: 20px;
@chevron-bottom-grey-height: 8px;
@chevron-bottom-grey-total-width: 140px;
@chevron-bottom-grey-total-height: 146px;
@chevron-bottom-grey-image: '../../src/images/sprite_2x.png';
@chevron-bottom-grey: 96px 66px -96px -66px 20px 8px 140px 146px '../../src/images/sprite_2x.png' chevron-bottom-grey;
@chevron-bottom-white-name: chevron-bottom-white;
@chevron-bottom-white-x: 118px;
@chevron-bottom-white-y: 20px;
@chevron-bottom-white-offset-x: -118px;
@chevron-bottom-white-offset-y: -20px;
@chevron-bottom-white-width: 22px;
@chevron-bottom-white-height: 14px;
@chevron-bottom-white-total-width: 140px;
@chevron-bottom-white-total-height: 146px;
@chevron-bottom-white-image: '../../src/images/sprite_2x.png';
@chevron-bottom-white: 118px 20px -118px -20px 22px 14px 140px 146px '../../src/images/sprite_2x.png' chevron-bottom-white;
@chevron-right-white-name: chevron-right-white;
@chevron-right-white-x: 118px;
@chevron-right-white-y: 0px;
@chevron-right-white-offset-x: -118px;
@chevron-right-white-offset-y: 0px;
@chevron-right-white-width: 14px;
@chevron-right-white-height: 20px;
@chevron-right-white-total-width: 140px;
@chevron-right-white-total-height: 146px;
@chevron-right-white-image: '../../src/images/sprite_2x.png';
@chevron-right-white: 118px 0px -118px 0px 14px 20px 140px 146px '../../src/images/sprite_2x.png' chevron-right-white;
@circle-green-name: circle-green;
@circle-green-x: 84px;
@circle-green-y: 0px;
@circle-green-offset-x: -84px;
@circle-green-offset-y: 0px;
@circle-green-width: 34px;
@circle-green-height: 34px;
@circle-green-total-width: 140px;
@circle-green-total-height: 146px;
@circle-green-image: '../../src/images/sprite_2x.png';
@circle-green: 84px 0px -84px 0px 34px 34px 140px 146px '../../src/images/sprite_2x.png' circle-green;
@delivery-grey-name: delivery-grey;
@delivery-grey-x: 44px;
@delivery-grey-y: 38px;
@delivery-grey-offset-x: -44px;
@delivery-grey-offset-y: -38px;
@delivery-grey-width: 52px;
@delivery-grey-height: 36px;
@delivery-grey-total-width: 140px;
@delivery-grey-total-height: 146px;
@delivery-grey-image: '../../src/images/sprite_2x.png';
@delivery-grey: 44px 38px -44px -38px 52px 36px 140px 146px '../../src/images/sprite_2x.png' delivery-grey;
@edit-grey-name: edit-grey;
@edit-grey-x: 96px;
@edit-grey-y: 34px;
@edit-grey-offset-x: -96px;
@edit-grey-offset-y: -34px;
@edit-grey-width: 32px;
@edit-grey-height: 32px;
@edit-grey-total-width: 140px;
@edit-grey-total-height: 146px;
@edit-grey-image: '../../src/images/sprite_2x.png';
@edit-grey: 96px 34px -96px -34px 32px 32px 140px 146px '../../src/images/sprite_2x.png' edit-grey;
@logout-grey-name: logout-grey;
@logout-grey-x: 72px;
@logout-grey-y: 74px;
@logout-grey-offset-x: -72px;
@logout-grey-offset-y: -74px;
@logout-grey-width: 32px;
@logout-grey-height: 32px;
@logout-grey-total-width: 140px;
@logout-grey-total-height: 146px;
@logout-grey-image: '../../src/images/sprite_2x.png';
@logout-grey: 72px 74px -72px -74px 32px 32px 140px 146px '../../src/images/sprite_2x.png' logout-grey;
@search-grey-name: search-grey;
@search-grey-x: 0px;
@search-grey-y: 0px;
@search-grey-offset-x: 0px;
@search-grey-offset-y: 0px;
@search-grey-width: 44px;
@search-grey-height: 46px;
@search-grey-total-width: 140px;
@search-grey-total-height: 146px;
@search-grey-image: '../../src/images/sprite_2x.png';
@search-grey: 0px 0px 0px 0px 44px 46px 140px 146px '../../src/images/sprite_2x.png' search-grey;
@star-grey-name: star-grey;
@star-grey-x: 0px;
@star-grey-y: 46px;
@star-grey-offset-x: 0px;
@star-grey-offset-y: -46px;
@star-grey-width: 40px;
@star-grey-height: 36px;
@star-grey-total-width: 140px;
@star-grey-total-height: 146px;
@star-grey-image: '../../src/images/sprite_2x.png';
@star-grey: 0px 46px 0px -46px 40px 36px 140px 146px '../../src/images/sprite_2x.png' star-grey;
@star-yellow-name: star-yellow;
@star-yellow-x: 44px;
@star-yellow-y: 0px;
@star-yellow-offset-x: -44px;
@star-yellow-offset-y: 0px;
@star-yellow-width: 40px;
@star-yellow-height: 38px;
@star-yellow-total-width: 140px;
@star-yellow-total-height: 146px;
@star-yellow-image: '../../src/images/sprite_2x.png';
@star-yellow: 44px 0px -44px 0px 40px 38px 140px 146px '../../src/images/sprite_2x.png' star-yellow;
@status-ok-name: status-ok;
@status-ok-x: 40px;
@status-ok-y: 74px;
@status-ok-offset-x: -40px;
@status-ok-offset-y: -74px;
@status-ok-width: 32px;
@status-ok-height: 32px;
@status-ok-total-width: 140px;
@status-ok-total-height: 146px;
@status-ok-image: '../../src/images/sprite_2x.png';
@status-ok: 40px 74px -40px -74px 32px 32px 140px 146px '../../src/images/sprite_2x.png' status-ok;
@triangle-bottom-grey-name: triangle-bottom-grey;
@triangle-bottom-grey-x: 62px;
@triangle-bottom-grey-y: 106px;
@triangle-bottom-grey-offset-x: -62px;
@triangle-bottom-grey-offset-y: -106px;
@triangle-bottom-grey-width: 22px;
@triangle-bottom-grey-height: 10px;
@triangle-bottom-grey-total-width: 140px;
@triangle-bottom-grey-total-height: 146px;
@triangle-bottom-grey-image: '../../src/images/sprite_2x.png';
@triangle-bottom-grey: 62px 106px -62px -106px 22px 10px 140px 146px '../../src/images/sprite_2x.png' triangle-bottom-grey;
@wallet-purple-name: wallet-purple;
@wallet-purple-x: 0px;
@wallet-purple-y: 82px;
@wallet-purple-offset-x: 0px;
@wallet-purple-offset-y: -82px;
@wallet-purple-width: 32px;
@wallet-purple-height: 34px;
@wallet-purple-total-width: 140px;
@wallet-purple-total-height: 146px;
@wallet-purple-image: '../../src/images/sprite_2x.png';
@wallet-purple: 0px 82px 0px -82px 32px 34px 140px 146px '../../src/images/sprite_2x.png' wallet-purple;
@spritesheet-width: 140px;
@spritesheet-height: 146px;
@spritesheet-image: '../../src/images/sprite_2x.png';
@spritesheet-sprites: @checkbox-checked @checkbox-empty @chevron-bottom-grey @chevron-bottom-white @chevron-right-white @circle-green @delivery-grey @edit-grey @logout-grey @search-grey @star-grey @star-yellow @status-ok @triangle-bottom-grey @wallet-purple;
@spritesheet: 140px 146px '../../src/images/sprite_2x.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
