/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@array-down-grey-name: array-down-grey;
@array-down-grey-x: 86px;
@array-down-grey-y: 33px;
@array-down-grey-offset-x: -86px;
@array-down-grey-offset-y: -33px;
@array-down-grey-width: 19px;
@array-down-grey-height: 12px;
@array-down-grey-total-width: 109px;
@array-down-grey-total-height: 103px;
@array-down-grey-image: '../../src/images/sprite.png';
@array-down-grey: 86px 33px -86px -33px 19px 12px 109px 103px '../../src/images/sprite.png' array-down-grey;
@checkbox-checked-name: checkbox-checked;
@checkbox-checked-x: 70px;
@checkbox-checked-y: 54px;
@checkbox-checked-offset-x: -70px;
@checkbox-checked-offset-y: -54px;
@checkbox-checked-width: 15px;
@checkbox-checked-height: 15px;
@checkbox-checked-total-width: 109px;
@checkbox-checked-total-height: 103px;
@checkbox-checked-image: '../../src/images/sprite.png';
@checkbox-checked: 70px 54px -70px -54px 15px 15px 109px 103px '../../src/images/sprite.png' checkbox-checked;
@checkbox-empty-name: checkbox-empty;
@checkbox-empty-x: 39px;
@checkbox-empty-y: 80px;
@checkbox-empty-offset-x: -39px;
@checkbox-empty-offset-y: -80px;
@checkbox-empty-width: 15px;
@checkbox-empty-height: 15px;
@checkbox-empty-total-width: 109px;
@checkbox-empty-total-height: 103px;
@checkbox-empty-image: '../../src/images/sprite.png';
@checkbox-empty: 39px 80px -39px -80px 15px 15px 109px 103px '../../src/images/sprite.png' checkbox-empty;
@chevron-bottom-grey-name: chevron-bottom-grey;
@chevron-bottom-grey-x: 89px;
@chevron-bottom-grey-y: 13px;
@chevron-bottom-grey-offset-x: -89px;
@chevron-bottom-grey-offset-y: -13px;
@chevron-bottom-grey-width: 10px;
@chevron-bottom-grey-height: 4px;
@chevron-bottom-grey-total-width: 109px;
@chevron-bottom-grey-total-height: 103px;
@chevron-bottom-grey-image: '../../src/images/sprite.png';
@chevron-bottom-grey: 89px 13px -89px -13px 10px 4px 109px 103px '../../src/images/sprite.png' chevron-bottom-grey;
@chevron-bottom-white-name: chevron-bottom-white;
@chevron-bottom-white-x: 86px;
@chevron-bottom-white-y: 45px;
@chevron-bottom-white-offset-x: -86px;
@chevron-bottom-white-offset-y: -45px;
@chevron-bottom-white-width: 11px;
@chevron-bottom-white-height: 7px;
@chevron-bottom-white-total-width: 109px;
@chevron-bottom-white-total-height: 103px;
@chevron-bottom-white-image: '../../src/images/sprite.png';
@chevron-bottom-white: 86px 45px -86px -45px 11px 7px 109px 103px '../../src/images/sprite.png' chevron-bottom-white;
@chevron-right-white-name: chevron-right-white;
@chevron-right-white-x: 54px;
@chevron-right-white-y: 80px;
@chevron-right-white-offset-x: -54px;
@chevron-right-white-offset-y: -80px;
@chevron-right-white-width: 7px;
@chevron-right-white-height: 10px;
@chevron-right-white-total-width: 109px;
@chevron-right-white-total-height: 103px;
@chevron-right-white-image: '../../src/images/sprite.png';
@chevron-right-white: 54px 80px -54px -80px 7px 10px 109px 103px '../../src/images/sprite.png' chevron-right-white;
@circle-green-name: circle-green;
@circle-green-x: 0px;
@circle-green-y: 70px;
@circle-green-offset-x: 0px;
@circle-green-offset-y: -70px;
@circle-green-width: 17px;
@circle-green-height: 17px;
@circle-green-total-width: 109px;
@circle-green-total-height: 103px;
@circle-green-image: '../../src/images/sprite.png';
@circle-green: 0px 70px 0px -70px 17px 17px 109px 103px '../../src/images/sprite.png' circle-green;
@delivery-grey-name: delivery-grey;
@delivery-grey-x: 44px;
@delivery-grey-y: 46px;
@delivery-grey-offset-x: -44px;
@delivery-grey-offset-y: -46px;
@delivery-grey-width: 26px;
@delivery-grey-height: 18px;
@delivery-grey-total-width: 109px;
@delivery-grey-total-height: 103px;
@delivery-grey-image: '../../src/images/sprite.png';
@delivery-grey: 44px 46px -44px -46px 26px 18px 109px 103px '../../src/images/sprite.png' delivery-grey;
@download-grey-name: download-grey;
@download-grey-x: 20px;
@download-grey-y: 67px;
@download-grey-offset-x: -20px;
@download-grey-offset-y: -67px;
@download-grey-width: 19px;
@download-grey-height: 18px;
@download-grey-total-width: 109px;
@download-grey-total-height: 103px;
@download-grey-image: '../../src/images/sprite.png';
@download-grey: 20px 67px -20px -67px 19px 18px 109px 103px '../../src/images/sprite.png' download-grey;
@edit-grey-name: edit-grey;
@edit-grey-x: 53px;
@edit-grey-y: 64px;
@edit-grey-offset-x: -53px;
@edit-grey-offset-y: -64px;
@edit-grey-width: 16px;
@edit-grey-height: 16px;
@edit-grey-total-width: 109px;
@edit-grey-total-height: 103px;
@edit-grey-image: '../../src/images/sprite.png';
@edit-grey: 53px 64px -53px -64px 16px 16px 109px 103px '../../src/images/sprite.png' edit-grey;
@eye-grey-name: eye-grey;
@eye-grey-x: 84px;
@eye-grey-y: 17px;
@eye-grey-offset-x: -84px;
@eye-grey-offset-y: -17px;
@eye-grey-width: 25px;
@eye-grey-height: 16px;
@eye-grey-total-width: 109px;
@eye-grey-total-height: 103px;
@eye-grey-image: '../../src/images/sprite.png';
@eye-grey: 84px 17px -84px -17px 25px 16px 109px 103px '../../src/images/sprite.png' eye-grey;
@logout-grey-name: logout-grey;
@logout-grey-x: 17px;
@logout-grey-y: 85px;
@logout-grey-offset-x: -17px;
@logout-grey-offset-y: -85px;
@logout-grey-width: 16px;
@logout-grey-height: 16px;
@logout-grey-total-width: 109px;
@logout-grey-total-height: 103px;
@logout-grey-image: '../../src/images/sprite.png';
@logout-grey: 17px 85px -17px -85px 16px 16px 109px 103px '../../src/images/sprite.png' logout-grey;
@payment-card-name: payment-card;
@payment-card-x: 89px;
@payment-card-y: 0px;
@payment-card-offset-x: -89px;
@payment-card-offset-y: 0px;
@payment-card-width: 16px;
@payment-card-height: 13px;
@payment-card-total-width: 109px;
@payment-card-total-height: 103px;
@payment-card-image: '../../src/images/sprite.png';
@payment-card: 89px 0px -89px 0px 16px 13px 109px 103px '../../src/images/sprite.png' payment-card;
@payment-online-name: payment-online;
@payment-online-x: 42px;
@payment-online-y: 64px;
@payment-online-offset-x: -42px;
@payment-online-offset-y: -64px;
@payment-online-width: 11px;
@payment-online-height: 16px;
@payment-online-total-width: 109px;
@payment-online-total-height: 103px;
@payment-online-image: '../../src/images/sprite.png';
@payment-online: 42px 64px -42px -64px 11px 16px 109px 103px '../../src/images/sprite.png' payment-online;
@plus-o-blue-name: plus-o-blue;
@plus-o-blue-x: 70px;
@plus-o-blue-y: 38px;
@plus-o-blue-offset-x: -70px;
@plus-o-blue-offset-y: -38px;
@plus-o-blue-width: 16px;
@plus-o-blue-height: 16px;
@plus-o-blue-total-width: 109px;
@plus-o-blue-total-height: 103px;
@plus-o-blue-image: '../../src/images/sprite.png';
@plus-o-blue: 70px 38px -70px -38px 16px 16px 109px 103px '../../src/images/sprite.png' plus-o-blue;
@radio-empty-purple-name: radio-empty-purple;
@radio-empty-purple-x: 22px;
@radio-empty-purple-y: 26px;
@radio-empty-purple-offset-x: -22px;
@radio-empty-purple-offset-y: -26px;
@radio-empty-purple-width: 22px;
@radio-empty-purple-height: 22px;
@radio-empty-purple-total-width: 109px;
@radio-empty-purple-total-height: 103px;
@radio-empty-purple-image: '../../src/images/sprite.png';
@radio-empty-purple: 22px 26px -22px -26px 22px 22px 109px 103px '../../src/images/sprite.png' radio-empty-purple;
@radio-empty-name: radio-empty;
@radio-empty-x: 26px;
@radio-empty-y: 0px;
@radio-empty-offset-x: -26px;
@radio-empty-offset-y: 0px;
@radio-empty-width: 26px;
@radio-empty-height: 26px;
@radio-empty-total-width: 109px;
@radio-empty-total-height: 103px;
@radio-empty-image: '../../src/images/sprite.png';
@radio-empty: 26px 0px -26px 0px 26px 26px 109px 103px '../../src/images/sprite.png' radio-empty;
@radio-selected-purple-name: radio-selected-purple;
@radio-selected-purple-x: 44px;
@radio-selected-purple-y: 26px;
@radio-selected-purple-offset-x: -44px;
@radio-selected-purple-offset-y: -26px;
@radio-selected-purple-width: 20px;
@radio-selected-purple-height: 20px;
@radio-selected-purple-total-width: 109px;
@radio-selected-purple-total-height: 103px;
@radio-selected-purple-image: '../../src/images/sprite.png';
@radio-selected-purple: 44px 26px -44px -26px 20px 20px 109px 103px '../../src/images/sprite.png' radio-selected-purple;
@radio-selected-name: radio-selected;
@radio-selected-x: 0px;
@radio-selected-y: 0px;
@radio-selected-offset-x: 0px;
@radio-selected-offset-y: 0px;
@radio-selected-width: 26px;
@radio-selected-height: 26px;
@radio-selected-total-width: 109px;
@radio-selected-total-height: 103px;
@radio-selected-image: '../../src/images/sprite.png';
@radio-selected: 0px 0px 0px 0px 26px 26px 109px 103px '../../src/images/sprite.png' radio-selected;
@search-grey-name: search-grey;
@search-grey-x: 0px;
@search-grey-y: 26px;
@search-grey-offset-x: 0px;
@search-grey-offset-y: -26px;
@search-grey-width: 22px;
@search-grey-height: 23px;
@search-grey-total-width: 109px;
@search-grey-total-height: 103px;
@search-grey-image: '../../src/images/sprite.png';
@search-grey: 0px 26px 0px -26px 22px 23px 109px 103px '../../src/images/sprite.png' search-grey;
@search-yellow-name: search-yellow;
@search-yellow-x: 52px;
@search-yellow-y: 0px;
@search-yellow-offset-x: -52px;
@search-yellow-offset-y: 0px;
@search-yellow-width: 21px;
@search-yellow-height: 20px;
@search-yellow-total-width: 109px;
@search-yellow-total-height: 103px;
@search-yellow-image: '../../src/images/sprite.png';
@search-yellow: 52px 0px -52px 0px 21px 20px 109px 103px '../../src/images/sprite.png' search-yellow;
@star-grey-name: star-grey;
@star-grey-x: 64px;
@star-grey-y: 20px;
@star-grey-offset-x: -64px;
@star-grey-offset-y: -20px;
@star-grey-width: 20px;
@star-grey-height: 18px;
@star-grey-total-width: 109px;
@star-grey-total-height: 103px;
@star-grey-image: '../../src/images/sprite.png';
@star-grey: 64px 20px -64px -20px 20px 18px 109px 103px '../../src/images/sprite.png' star-grey;
@star-yellow-name: star-yellow;
@star-yellow-x: 22px;
@star-yellow-y: 48px;
@star-yellow-offset-x: -22px;
@star-yellow-offset-y: -48px;
@star-yellow-width: 20px;
@star-yellow-height: 19px;
@star-yellow-total-width: 109px;
@star-yellow-total-height: 103px;
@star-yellow-image: '../../src/images/sprite.png';
@star-yellow: 22px 48px -22px -48px 20px 19px 109px 103px '../../src/images/sprite.png' star-yellow;
@status-ok-name: status-ok;
@status-ok-x: 0px;
@status-ok-y: 87px;
@status-ok-offset-x: 0px;
@status-ok-offset-y: -87px;
@status-ok-width: 16px;
@status-ok-height: 16px;
@status-ok-total-width: 109px;
@status-ok-total-height: 103px;
@status-ok-image: '../../src/images/sprite.png';
@status-ok: 0px 87px 0px -87px 16px 16px 109px 103px '../../src/images/sprite.png' status-ok;
@triangle-bottom-grey-name: triangle-bottom-grey;
@triangle-bottom-grey-x: 52px;
@triangle-bottom-grey-y: 20px;
@triangle-bottom-grey-offset-x: -52px;
@triangle-bottom-grey-offset-y: -20px;
@triangle-bottom-grey-width: 11px;
@triangle-bottom-grey-height: 5px;
@triangle-bottom-grey-total-width: 109px;
@triangle-bottom-grey-total-height: 103px;
@triangle-bottom-grey-image: '../../src/images/sprite.png';
@triangle-bottom-grey: 52px 20px -52px -20px 11px 5px 109px 103px '../../src/images/sprite.png' triangle-bottom-grey;
@wallet-big-purple-name: wallet-big-purple;
@wallet-big-purple-x: 0px;
@wallet-big-purple-y: 49px;
@wallet-big-purple-offset-x: 0px;
@wallet-big-purple-offset-y: -49px;
@wallet-big-purple-width: 20px;
@wallet-big-purple-height: 21px;
@wallet-big-purple-total-width: 109px;
@wallet-big-purple-total-height: 103px;
@wallet-big-purple-image: '../../src/images/sprite.png';
@wallet-big-purple: 0px 49px 0px -49px 20px 21px 109px 103px '../../src/images/sprite.png' wallet-big-purple;
@wallet-purple-name: wallet-purple;
@wallet-purple-x: 73px;
@wallet-purple-y: 0px;
@wallet-purple-offset-x: -73px;
@wallet-purple-offset-y: 0px;
@wallet-purple-width: 16px;
@wallet-purple-height: 17px;
@wallet-purple-total-width: 109px;
@wallet-purple-total-height: 103px;
@wallet-purple-image: '../../src/images/sprite.png';
@wallet-purple: 73px 0px -73px 0px 16px 17px 109px 103px '../../src/images/sprite.png' wallet-purple;
@spritesheet-width: 109px;
@spritesheet-height: 103px;
@spritesheet-image: '../../src/images/sprite.png';
@spritesheet-sprites: @array-down-grey @checkbox-checked @checkbox-empty @chevron-bottom-grey @chevron-bottom-white @chevron-right-white @circle-green @delivery-grey @download-grey @edit-grey @eye-grey @logout-grey @payment-card @payment-online @plus-o-blue @radio-empty-purple @radio-empty @radio-selected-purple @radio-selected @search-grey @search-yellow @star-grey @star-yellow @status-ok @triangle-bottom-grey @wallet-big-purple @wallet-purple;
@spritesheet: 109px 103px '../../src/images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
