/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@checkbox-checked-name: checkbox-checked;
@checkbox-checked-x: 0px;
@checkbox-checked-y: 58px;
@checkbox-checked-offset-x: 0px;
@checkbox-checked-offset-y: -58px;
@checkbox-checked-width: 15px;
@checkbox-checked-height: 15px;
@checkbox-checked-total-width: 70px;
@checkbox-checked-total-height: 73px;
@checkbox-checked-image: '../../src/images/sprite.png';
@checkbox-checked: 0px 58px 0px -58px 15px 15px 70px 73px '../../src/images/sprite.png' checkbox-checked;
@checkbox-empty-name: checkbox-empty;
@checkbox-empty-x: 16px;
@checkbox-empty-y: 53px;
@checkbox-empty-offset-x: -16px;
@checkbox-empty-offset-y: -53px;
@checkbox-empty-width: 15px;
@checkbox-empty-height: 15px;
@checkbox-empty-total-width: 70px;
@checkbox-empty-total-height: 73px;
@checkbox-empty-image: '../../src/images/sprite.png';
@checkbox-empty: 16px 53px -16px -53px 15px 15px 70px 73px '../../src/images/sprite.png' checkbox-empty;
@chevron-bottom-grey-name: chevron-bottom-grey;
@chevron-bottom-grey-x: 48px;
@chevron-bottom-grey-y: 33px;
@chevron-bottom-grey-offset-x: -48px;
@chevron-bottom-grey-offset-y: -33px;
@chevron-bottom-grey-width: 10px;
@chevron-bottom-grey-height: 4px;
@chevron-bottom-grey-total-width: 70px;
@chevron-bottom-grey-total-height: 73px;
@chevron-bottom-grey-image: '../../src/images/sprite.png';
@chevron-bottom-grey: 48px 33px -48px -33px 10px 4px 70px 73px '../../src/images/sprite.png' chevron-bottom-grey;
@chevron-bottom-white-name: chevron-bottom-white;
@chevron-bottom-white-x: 59px;
@chevron-bottom-white-y: 10px;
@chevron-bottom-white-offset-x: -59px;
@chevron-bottom-white-offset-y: -10px;
@chevron-bottom-white-width: 11px;
@chevron-bottom-white-height: 7px;
@chevron-bottom-white-total-width: 70px;
@chevron-bottom-white-total-height: 73px;
@chevron-bottom-white-image: '../../src/images/sprite.png';
@chevron-bottom-white: 59px 10px -59px -10px 11px 7px 70px 73px '../../src/images/sprite.png' chevron-bottom-white;
@chevron-right-white-name: chevron-right-white;
@chevron-right-white-x: 59px;
@chevron-right-white-y: 0px;
@chevron-right-white-offset-x: -59px;
@chevron-right-white-offset-y: 0px;
@chevron-right-white-width: 7px;
@chevron-right-white-height: 10px;
@chevron-right-white-total-width: 70px;
@chevron-right-white-total-height: 73px;
@chevron-right-white-image: '../../src/images/sprite.png';
@chevron-right-white: 59px 0px -59px 0px 7px 10px 70px 73px '../../src/images/sprite.png' chevron-right-white;
@circle-green-name: circle-green;
@circle-green-x: 42px;
@circle-green-y: 0px;
@circle-green-offset-x: -42px;
@circle-green-offset-y: 0px;
@circle-green-width: 17px;
@circle-green-height: 17px;
@circle-green-total-width: 70px;
@circle-green-total-height: 73px;
@circle-green-image: '../../src/images/sprite.png';
@circle-green: 42px 0px -42px 0px 17px 17px 70px 73px '../../src/images/sprite.png' circle-green;
@delivery-grey-name: delivery-grey;
@delivery-grey-x: 22px;
@delivery-grey-y: 19px;
@delivery-grey-offset-x: -22px;
@delivery-grey-offset-y: -19px;
@delivery-grey-width: 26px;
@delivery-grey-height: 18px;
@delivery-grey-total-width: 70px;
@delivery-grey-total-height: 73px;
@delivery-grey-image: '../../src/images/sprite.png';
@delivery-grey: 22px 19px -22px -19px 26px 18px 70px 73px '../../src/images/sprite.png' delivery-grey;
@edit-grey-name: edit-grey;
@edit-grey-x: 48px;
@edit-grey-y: 17px;
@edit-grey-offset-x: -48px;
@edit-grey-offset-y: -17px;
@edit-grey-width: 16px;
@edit-grey-height: 16px;
@edit-grey-total-width: 70px;
@edit-grey-total-height: 73px;
@edit-grey-image: '../../src/images/sprite.png';
@edit-grey: 48px 17px -48px -17px 16px 16px 70px 73px '../../src/images/sprite.png' edit-grey;
@logout-grey-name: logout-grey;
@logout-grey-x: 36px;
@logout-grey-y: 37px;
@logout-grey-offset-x: -36px;
@logout-grey-offset-y: -37px;
@logout-grey-width: 16px;
@logout-grey-height: 16px;
@logout-grey-total-width: 70px;
@logout-grey-total-height: 73px;
@logout-grey-image: '../../src/images/sprite.png';
@logout-grey: 36px 37px -36px -37px 16px 16px 70px 73px '../../src/images/sprite.png' logout-grey;
@search-grey-name: search-grey;
@search-grey-x: 0px;
@search-grey-y: 0px;
@search-grey-offset-x: 0px;
@search-grey-offset-y: 0px;
@search-grey-width: 22px;
@search-grey-height: 23px;
@search-grey-total-width: 70px;
@search-grey-total-height: 73px;
@search-grey-image: '../../src/images/sprite.png';
@search-grey: 0px 0px 0px 0px 22px 23px 70px 73px '../../src/images/sprite.png' search-grey;
@star-grey-name: star-grey;
@star-grey-x: 0px;
@star-grey-y: 23px;
@star-grey-offset-x: 0px;
@star-grey-offset-y: -23px;
@star-grey-width: 20px;
@star-grey-height: 18px;
@star-grey-total-width: 70px;
@star-grey-total-height: 73px;
@star-grey-image: '../../src/images/sprite.png';
@star-grey: 0px 23px 0px -23px 20px 18px 70px 73px '../../src/images/sprite.png' star-grey;
@star-yellow-name: star-yellow;
@star-yellow-x: 22px;
@star-yellow-y: 0px;
@star-yellow-offset-x: -22px;
@star-yellow-offset-y: 0px;
@star-yellow-width: 20px;
@star-yellow-height: 19px;
@star-yellow-total-width: 70px;
@star-yellow-total-height: 73px;
@star-yellow-image: '../../src/images/sprite.png';
@star-yellow: 22px 0px -22px 0px 20px 19px 70px 73px '../../src/images/sprite.png' star-yellow;
@status-ok-name: status-ok;
@status-ok-x: 20px;
@status-ok-y: 37px;
@status-ok-offset-x: -20px;
@status-ok-offset-y: -37px;
@status-ok-width: 16px;
@status-ok-height: 16px;
@status-ok-total-width: 70px;
@status-ok-total-height: 73px;
@status-ok-image: '../../src/images/sprite.png';
@status-ok: 20px 37px -20px -37px 16px 16px 70px 73px '../../src/images/sprite.png' status-ok;
@triangle-bottom-grey-name: triangle-bottom-grey;
@triangle-bottom-grey-x: 31px;
@triangle-bottom-grey-y: 53px;
@triangle-bottom-grey-offset-x: -31px;
@triangle-bottom-grey-offset-y: -53px;
@triangle-bottom-grey-width: 11px;
@triangle-bottom-grey-height: 5px;
@triangle-bottom-grey-total-width: 70px;
@triangle-bottom-grey-total-height: 73px;
@triangle-bottom-grey-image: '../../src/images/sprite.png';
@triangle-bottom-grey: 31px 53px -31px -53px 11px 5px 70px 73px '../../src/images/sprite.png' triangle-bottom-grey;
@wallet-purple-name: wallet-purple;
@wallet-purple-x: 0px;
@wallet-purple-y: 41px;
@wallet-purple-offset-x: 0px;
@wallet-purple-offset-y: -41px;
@wallet-purple-width: 16px;
@wallet-purple-height: 17px;
@wallet-purple-total-width: 70px;
@wallet-purple-total-height: 73px;
@wallet-purple-image: '../../src/images/sprite.png';
@wallet-purple: 0px 41px 0px -41px 16px 17px 70px 73px '../../src/images/sprite.png' wallet-purple;
@spritesheet-width: 70px;
@spritesheet-height: 73px;
@spritesheet-image: '../../src/images/sprite.png';
@spritesheet-sprites: @checkbox-checked @checkbox-empty @chevron-bottom-grey @chevron-bottom-white @chevron-right-white @circle-green @delivery-grey @edit-grey @logout-grey @search-grey @star-grey @star-yellow @status-ok @triangle-bottom-grey @wallet-purple;
@spritesheet: 70px 73px '../../src/images/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: extract(@sprite, 10);
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
