{% extends 'base.html' %}

{% block content%}
    <div id="index-page">
        <div class="h1">Популярные категории</div>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <a href="#" class="block-2-2" style="background-image: url(/static/dist/images/content/category_1.png)">
                    <span class="typo_t bottom">Конструкторы для детей</span>
                </a>
            </div>
            <div class="pure-u-1-2 text-right">
                <a href="#" class="block-2-1" style="background-image: url(/static/dist/images/content/category_2.png)">
                    <span class="typo_t bottom right">Ноутбуки</span>
                </a>
                <div class="pure-g">
                    <div class="pure-u-1-2 text-center">
                        <a href="#" class="block-1-1 typo_t typo_white" style="background-image: url(/static/dist/images/content/category_3.png)">
                            <span class="typo_t typo_white bottom">Планшеты</span>
                        </a>
                    </div>
                    <div class="pure-u-1-2">
                        <a href="#" class="block-1-1 typo_t typo_white" style="background-image: url(/static/dist/images/content/category_4.png)">
                            <span class="typo_t typo_white bottom">Телевизоры</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pure-u-1-4">
                <a href="#" class="block-1-1 typo_t typo_white" style="background-image: url(/static/dist/images/content/category_5.png)">
                    <span class="typo_t typo_white top">Мягкие игрушки</span>
                </a>
                <a href="#" class="block-1-1 typo_t typo_white" style="background-image: url(/static/dist/images/content/category_6.png)">
                    <span class="typo_t typo_white bottom">Радио- и видеоняни</span>
                </a>
            </div>
            <div class="pure-u-1-2 text-center">
                <a href="#" class="block-2-2 typo_t" style="background-image: url(/static/dist/images/content/category_7.png)">
                    <span class="typo_t top">Телефоны</span>
                </a>
            </div>
            <div class="pure-u-1-4 text-right">
                <a href="#" class="block-1-2 typo_t typo_white" style="background-image: url(/static/dist/images/content/category_8.png)">
                    <span class="typo_t typo_white bottom">Наушники</span>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}