#header-block {
    height: 70px;
    background: #f5f5f5;
    border-bottom: 1px solid #E7E7E7;
    box-shadow: -5px 0px 5px 0px rgba(103, 103, 103, 0.2);
    padding: 12px 20px;
    width: 955px;

    #catalog-search {
        position: relative;

        button[type="submit"] {
            position: absolute;
            top: 12px;
            left: 13px;
            opacity: 0.6;
            transition: all .1s ease-out 0s;

            &:hover {
                opacity: 1.0;
            }
        }
    }
}