<html>
<head>
    <title>{% block title %}{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,500italic,400italic,300italic,100italic&subset=cyrillic,cyrillic-ext,latin' rel='stylesheet' type='text/css'>
    <link href="/static/dist/css/main.css" media="all" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div id="container">
        <div id="left-column-block">
            <a href="/markup/index/" class="home"><img src="/static/dist/images/logo.svg" /></a>
            <ul class="catalog-menu">
                <li class="active"><a href="/markup/categories/">Все категории</a></li>
                <li class="has-submenu">
                    <a href="#">Электроника</a>
                    <ul>
                        <li><a href="#">Мобильные телефоны</a></li>
                        <li><a href="#">Компьютеры</a></li>
                        <li><a href="#">Бытовая техника</a></li>
                    </ul>
                </li>
                <li class="has-submenu"><a href="#">Компьютеры</a></li>
                <li class="has-submenu"><a href="#">Бытовая техника</a></li>
                <li class="has-submenu"><a href="#">Дом и дача</a></li>
                <li class="has-submenu"><a href="#">Гардероб</a></li>
                <li class="has-submenu"><a href="#">Детские товары</a></li>
                <li class="has-submenu"><a href="#">Косметика</a></li>
                <li class="has-submenu"><a href="#">Спорт и отдых</a></li>
                <li class="has-submenu"><a href="#">Авто</a></li>
                <li class="has-submenu"><a href="#">Всё для офиса</a></li>
                <li class="has-submenu"><a href="#">Досуг и развлечения</a></li>
                <li class="has-submenu"><a href="#">Подарки и цветы</a></li>
                <li class="has-submenu"><a href="#">Оборудование</a></li>
                <li class="has-submenu"><a href="#">Товары для здоровья</a></li>
                <li class="has-submenu"><a href="#">Продукты</a></li>
                <li class="has-submenu"><a href="#">Услуги</a></li>
            </ul>
        </div>
        {% include 'blocks/header/user_header.html' %}
        <div id="content-wrapper">
            {% block content %}Hello!{% endblock content %}
            <div style="clear: both"></div>
        </div>
        <div id="footer-block">
            <ul>
                <li><a href="#">Пользовательское соглашение</a></li>
                <li><a href="#">Вход для интернет магазинов</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    {% if context %}
    <script>
        window.context = '{{ context|safe }}';
    </script>
    {% endif %}
    <script src="{{ STATIC_URL }}dist/js/main.js"
    	data-main="{% if current_app %}{{ current_app }}{% else %}catalog-items-list{% endif %}"
    ></script>
</body>
</html>