{% extends 'base.html' %}

{% block content%}
    <div id="categories-list-page">
        <div class="h1">Все категории</div>
        <div>
            <a href="#" class="block-1-1 first-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/1.png)"></div>
                <div class="title">Электроника</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/2.png)"></div>
                <div class="title">Компьютеры</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/3.png)"></div>
                <div class="title">Бытовая техника</div>
            </a>
            <a href="#" class="block-1-1 last-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/4.png)"></div>
                <div class="title">Дом и дача</div>
            </a>
            <a href="#" class="block-1-1 first-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/5.png)"></div>
                <div class="title">Гардероб</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/6.png)"></div>
                <div class="title">Детские товары</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/7.png)"></div>
                <div class="title">Косметика</div>
            </a>
            <a href="#" class="block-1-1 last-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/8.png)"></div>
                <div class="title">Спорт и отдых</div>
            </a>
            <a href="#" class="block-1-1 first-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/9.png)"></div>
                <div class="title">Авто</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/10.png)"></div>
                <div class="title">Всё для офиса</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/11.png)"></div>
                <div class="title">Досуг и развлечения</div>
            </a>
            <a href="#" class="block-1-1 last-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/12.png)"></div>
                <div class="title">Подарки и цветы</div>
            </a>
            <a href="#" class="block-1-1 first-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/13.png)"></div>
                <div class="title">Оборудование</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/14.png)"></div>
                <div class="title">Товары для здоровья</div>
            </a>
            <a href="#" class="block-1-1">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/15.png)"></div>
                <div class="title">Продукты</div>
            </a>
            <a href="#" class="block-1-1 last-inline">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/16.png)"></div>
                <div class="title">Услуги</div>
            </a>
        </div>
    </div>
{% endblock content %}