{% extends 'base.html' %}

{% block content%}
    <div id="items-list-page">
        {% include 'blocks/breadcrumbs.html' %}
        <div class="h1">Цифровые фотокамеры</div>
        <div class="pure-g">
            <div class="pure-u-3-4">
                <div class="items-wrapper">
                    {% include 'blocks/item_card.html' with title='Canon EOS 600D Kit' price='12 950' shop='Ситилинк' img='dist/images/content/items/1.png' %}
                    {% include 'blocks/item_card.html' with title='Nikon D3200' price='17 550' shop='Ситилинк' img='dist/images/content/items/2.png' %}
                    {% include 'blocks/item_card.html' with title='Canon EOS 1200D' price='10 000' shop='Ситилинк' img='dist/images/content/items/3.png' %}
                    {% include 'blocks/item_card.html' with title='Canon EOS 600D Kit' price='9 999' shop='М.ВИДЕО' img='dist/images/content/items/4.png' %}
                    {% include 'blocks/item_card.html' with title='Nikon D3200' price='950' shop='Ситилинк' img='dist/images/content/items/5.png' %}
                    {% include 'blocks/item_card.html' with title='Canon EOS 1200D' price='12 000' shop='Ситилинк' img='dist/images/content/items/6.png' %}
                </div>
                <button type="button" class="btn btn-grey btn-full-width">Показать еще</button>
            </div>
            <div class="pure-u-1-4 text-right">
                <div class="block-1-x text-left">
                    <form class="items-filter">
                        <div class="price">
                            <span class="title">Цена, руб</span>
                            <div class="pure-g">
                                <div class="pure-u-1-2">
                                    <label>от <input type="text" value="0" /></label>
                                </div>
                                <div class="pure-u-1-2">
                                    <label>до <input type="text" value="9999" /></label>
                                </div>
                            </div>
                        </div>
                        <div class="producers">
                            <span class="title">Производитель</span>
                            <label class="checkbox"><input type="checkbox" checked="checked" /> Sony</label>
                            <label class="checkbox"><input type="checkbox" /> Nicon</label>
                            <label class="checkbox"><input type="checkbox" /> Canon</label>
                            <label class="checkbox"><input type="checkbox" /> Samsung</label>
                        </div>
                        <button class="submit" type="submit">Показать <span>(40)</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

