{% extends 'client_base.html' %}

{% block content%}
    <div id="shop-profile-page">
        <div class="h1">Профиль</div>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <div class="block-2-x">
                    <form id="edit-profile-form" class="form-block">
                        <a href="#" id="profile-edit-btn"></a>
                        <div class="name">
                            <span>Бигмаркет</span>
                        </div>
                        <label class="pure-g field-wrapper">
                            <div class="pure-u-2-5 field-name">Юридическое лицо</div>
                            <div class="pure-u-3-5 field-value">ООО Бигмаркет</div>
                        </label>
                        <label class="pure-g field-wrapper">
                            <div class="pure-u-2-5 field-name">ОГРН</div>
                            <div class="pure-u-3-5 field-value">11 00 234 567</div>
                        </label>
                        <div class="pure-g field-wrapper">
                            <div class="pure-u-2-5 field-name">Город</div>
                            <div class="pure-u-3-5 field-value">Москва</div>
                        </div>
                        <div class="pure-g field-wrapper">
                            <div class="pure-u-2-5 field-name">Телефон</div>
                            <div class="pure-u-3-5 field-value">+1 (234) 567 89 00</div>
                        </div>
                        <div class="pure-g field-wrapper">
                            <div class="pure-u-2-5 field-name">Адрес</div>
                            <div class="pure-u-3-5 field-value">Город, ул.Улица, д.123</div>
                        </div>
                        <div class="pure-g field-wrapper">
                            <div class="pure-u-2-5 field-name">Сайт</div>
                            <div class="pure-u-3-5 field-value">yarkiy.ru</div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="pure-u-1-2 text-right">
                <div class="block-2-x help">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
                    <div class="contacts">
                        <div class="title">Call-центр</div>
                        <p>
                            <a href="mailto:youknownothing@jonsnow.com">youknownothing@jonsnow.com</a>
                            <br>
                            +7 (123) 456 78 90
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}