{% extends 'base.html' %}

{% block content%}
    <div id="subcategories-list-page">
        <div class="h1">Все категории</div>
        <div>
            <div class="block-03-x">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/1.png)"></div>
                <div class="title">Электроника</div>
                <ul>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Бытовая техника</a></li>
                    <li><a href="#">Дом и дача</a></li>
                    <li><a href="#">Гардероб</a></li>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Гардероб</a></li>
                </ul>
            </div>
            <div class="block-03-x">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/1.png)"></div>
                <div class="title">Электроника</div>
                <ul>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Бытовая техника</a></li>
                    <li><a href="#">Дом и дача</a></li>
                    <li><a href="#">Гардероб</a></li>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Гардероб</a></li>
                </ul>
            </div>
            <div class="block-03-x">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/1.png)"></div>
                <div class="title">Электроника</div>
                <ul>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Бытовая техника</a></li>
                    <li><a href="#">Дом и дача</a></li>
                    <li><a href="#">Гардероб</a></li>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Гардероб</a></li>
                </ul>
            </div>
            <div class="block-03-x">
                <div class="image" style="background-image: url(/static/dist/images/content/categories/1.png)"></div>
                <div class="title">Электроника</div>
                <ul>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Бытовая техника</a></li>
                    <li><a href="#">Дом и дача</a></li>
                    <li><a href="#">Гардероб</a></li>
                    <li><a href="#">Компьютеры</a></li>
                    <li><a href="#">Гардероб</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}