{% load humanize %}
<div id="header-block">
    <div class="pure-g">
        {% with user.client_profile.balance.value|default:0 as balance %}
            <div class="pure-u-1-4">
                <div class="user-balance">Текущий баланс: <span>{{ balance|intcomma }}</span> руб.</div>
            </div>
        {% endwith %}
        <div class="pure-u-1-4">
            {% if user.client_profile.is_active %}
                <div class="user-status">Статус: <span>активный</span></div>
            {% else %}
                <div class="user-status not-active">Статус: <span>неактивный</span></div>
            {% endif %}
        </div>
        <div class="pure-u-1-4">
            {% include 'blocks/client/shops_selector.html' with shops=user.get_shops  %}
        </div>
        <div class="pure-u-1-8">
            {% include 'blocks/client/wallet_menu.html'%}
        </div>
        <div class="pure-u-1-8 logout-wrapper">
            <a href="{% url 'client:profile' %}" class="btn btn-link">Профиль</a>
            <a href="{% url 'client:signout' %}" class="logout-btn"></a>
        </div>
    </div>
</div>