{% load humanize %}
<div id="header-block">
    <div class="pure-g">
        <div class="pure-u-1-4">
            <div class="user-balance">Текущий баланс: <span>{{ user.client_profile.balance.value|intcomma|default:0 }}</span> руб.</div>
        </div>
        <div class="pure-u-1-4">
            <div class="user-status">Статус: <span>{% if user.client_profile.is_active %}активный{% else %}неактивный{% endif %}</span></div>
        </div>
        <div class="pure-u-1-4">
            {% include 'blocks/client/shops_selector.html' with shops=user.get_shops  %}
        </div>
        <div class="pure-u-1-8">
            {% include 'blocks/client/wallet_menu.html'%}
        </div>
        <div class="pure-u-1-8 logout-wrapper">
            <a href="{% url 'client:profile' %}" class="btn btn-link">Профиль</a>
            <a href="{% url 'client:signout' %}" class="logout-btn"></a>
        </div>
    </div>
</div>