<div id="header-block">
    <div class="pure-g">
        <div class="pure-u-3-4">
            <form id="catalog-search" method="GET" action="{% url 'catalog:search_products_list' %}">
                <input type="text" name="search" class="b_input_search" value="{{ search }}" placeholder="Поиск среди более 6 000 000 товаров" />
                <button type="submit"><i class="icon-search"></i></button>
            </form>
        </div>
        <div class="pure-u-1-4">
            {% include 'blocks/location.html' %}
        </div>
    </div>
</div>