{% extends 'client_base.html' %}

{% load humanize %}

{% block content%}
    <div id="payments-page">
        <div class="h1">Оплаты</div>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <div class="block-1-x user-balance-informer">
                    <span>Текущий баланс</span>
                    <div><span>{{ user.client_profile.balance.value|intcomma|default:0 }}</span> руб.</div>
                    <a class="refill-link" href="{% url 'client:wallet_refill' %}">Перейти к пополнению</a>
                </div>
            </div>
        </div>
        <div class="pure-g">
            <div class="pure-u-1-2">
                <div class="block-2-x payment-block">
                    <header>Поступление</header>
                    <div id="client-wallet-payments-layout"></div>
                    <footer class="client-wallet-payments-pager"></footer>
                </div>
            </div>
            <div class="pure-u-1-2 text-right">
                <div class="block-2-x payment-block">
                    <header>Выставленные счета</header>
                    <div id="client-wallet-bills-layout"></div>
                    <footer class="client-wallet-bills-pager"></footer>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}