{% extends 'client_base.html' %}

{% block content%}
    <div id="payments-refill-page">
        <div class="h1">Пополнения</div>
        <div id="client-wallet-refill-view">
            <ul class="tabs-nav">
                <li class="active"><a href="#" class="tab-link" data-tab="online">Онлайн-оплата</a></li>
                <li><a href="#" class="tab-link" data-tab="card">Оплата по банковскому счету</a></li>
            </ul>
        </div>
        <div id="client-wallet-refill-online-form-view">
            <div class="block-ful-x tab-content online active">
                <form action="{% url 'client-api:robokassa-add' %}" method="post" id="client-wallet-refill-online-form" class="online-refill" data-tab="online">
                    <div class="pure-g">
                        <div class="pure-u-1-2 left-column">
                            <label class="quantum-label field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">Введите сумму</div>
                                <div class="pure-u-1-1 field-value">
                                    <input id="quantum-input" name="OutSum" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                        </div>
                    </div>
                    <div class="pure-g">
                        <div class="pure-u-1-2 form-footer">
                            <button type="submit" class="btn btn-purple">Продолжить</button>
                        </div>
                    </div>
                </form>
                <form id="robokassa-form" action="https://auth.robokassa.ru/Merchant/Index.aspx">
                    <input type="hidden" name="MerchantLogin" value="alterprice" />
                    <input id="robokassa-summ" type="hidden" name="OutSum" value="" />
                    <input id="robokassa-invid" type="hidden" name="InvId" value="" />
                    <input id="robokassa-signature" type="hidden" name="SignatureValue" value="" />
                    {% if is_test_pay %}
                    <input type="hidden" name="IsTest" value="1" />
                    {% endif %}
                </form>
            </div>
        </div>
        <div id="client-wallet-refill-card-form-view">
            <div class="block-ful-x tab-content card">
                <form action="{% url 'client-api:invoice-add' %}" method="post" id="client-wallet-refill-card-form" class="form-block" data-tab="online">
                    <div class="pure-g">
                        <div class="pure-u-1-2 left-column">
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">НАЗВАНИЕ ОРГАНИЗАЦИИ</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="company_name" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">ИНН</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="inn" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">КПП</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="kpp" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">БИК</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="bik" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">Р/С</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="rs" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">КОРРЕСПОНДЕНТСКИЙ СЧЕТ</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="ks" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                        </div>
                        <div class="pure-u-1-2 right-column">
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">НАЗВАНИЕ БАНКА</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="bank_name" type="text" class="b_input_text phone-mask" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">ФИО КОНТАКТНОГО ЛИЦА</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="fio" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">ТЕЛЕФОН КОНТАКТНОГО ЛИЦА</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="phone" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">ЮРИДИЧЕСКИЙ АДРЕС</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="legal_address" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <label class="pure-g field-wrapper vertical-field">
                                <div class="pure-u-1-1 field-name">ПОЧТОВЫЙ АДРЕС</div>
                                <div class="pure-u-1-1 field-value">
                                    <input name="post_address" type="text" class="b_input_text" value="">
                                </div>
                            </label>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-purple">ЗАПРОСИТЬ СЧЁТ</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}