{% extends 'client_base.html' %}

{% block content%}
    <div id="client-statistics-detail">
        <div class="h1">Статистика по магазину</div>
        <div class="pure-g">
            <div class="pure-u-1-1 short-brief">
                <div class="block-ful-x">
                    <header>Краткая сводка</header>
                    <table>
                        <thead>
                            <th></th>
                            <th class="text-center">07.01.15</th>
                            <th class="text-center">06.01.15</th>
                            <th class="text-center">05.01.15</th>
                            <th class="text-center">04.01.15</th>
                            <th class="text-center">03.01.15</th>
                            <th class="text-center">02.01.15</th>
                            <th class="text-center">01.01.15</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Клики</td>
                                <td class="text-center">12</td>
                                <td class="text-center">32</td>
                                <td class="text-center">1</td>
                                <td class="text-center">3</td>
                                <td class="text-center">23</td>
                                <td class="text-center">11</td>
                                <td class="text-center">32</td>
                            </tr>
                            <tr>
                                <td>Расход, уе</td>
                                <td class="text-center">12</td>
                                <td class="text-center">32</td>
                                <td class="text-center">1</td>
                                <td class="text-center">3</td>
                                <td class="text-center">23</td>
                                <td class="text-center">11</td>
                                <td class="text-center">32</td>
                            </tr>
                        </tbody>
                    </table>
                    <footer>
                        <div class="info">Данные приведены за последнюю неделю: количество кликов, которые приходятся на предложения вашего магазина, и расход средств за клики по вашим предложениям.</div>
                    </footer>
                </div>
            </div>
            <div class="pure-u-1-1 full-statistics">
                <div class="block-ful-x">
                    <form class="filter-form">
                        <div class="pure-g header">
                            <div class="pure-u-1-2">
                                <label class="active">
                                    <input type="radio">
                                    <span>По товарам</span>
                                </label>
                                <label>
                                    <input type="radio">
                                    <span>По категориям</span>
                                </label>
                            </div>
                            <div class="pure-u-1-2 period-wrapper">
                                <span>Показать за:</span>
                                <a href="#" class="btn btn-link dropdown-btn">за неделю</a>
                            </div>
                        </div>
                        <div class="counter-wrapper">
                            <div class="click-counter">486<div>Кликов</div></div>
                            <div class="expense-counter">210<span>руб.</span><div>Расход</div></div>
                        </div>
                    </form>
                    <table>
                        <thead>
                            <tr>
                                <th>Название товара</th>
                                <th class="text-center" width="170px">Количество кликов</th>
                                <th class="text-center" width="170px">Расход, р</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Фото и видео камеры</td>
                                <th class="text-center">11</th>
                                <th class="text-center">11</th>
                            </tr>
                             <tr>
                                <td>Фото и видео камеры</td>
                                <th class="text-center">11</th>
                                <th class="text-center">11</th>
                            </tr>
                            <tr>
                                <td>Фото и видео камеры</td>
                                <th class="text-center">11</th>
                                <th class="text-center">11</th>
                            </tr>
                            <tr>
                                <td>Фото и видео камеры</td>
                                <th class="text-center">11</th>
                                <th class="text-center">11</th>
                            </tr>
                            <tr>
                                <td>Фото и видео камеры</td>
                                <th class="text-center">11</th>
                                <th class="text-center">11</th>
                            </tr>
                            <tr>
                                <td>Фото и видео камеры</td>
                                <th class="text-center">11</th>
                                <th class="text-center">11</th>
                            </tr>
                        </tbody>
                    </table>
                    <footer>
                        <div class="pager">
                            <ul>
                                <li><a href="#">< Предыдущая</a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">Следующая ></a></li>
                            </ul>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endblock %}