#items-list-page {
    .items-wrapper {
        .item-card-block {
            margin-right: 18px;

            &:nth-child(3n) {
                margin-right: 0;
            }
        }
    }

    .pure-u-1-4.text-right {
        text-align: right;
    }

    .search-empty {
        .typo_s;
        color: #86888E;
    }

    .categories-filter-wrapper {
        padding-bottom: 20px;
        position: relative;

        .categories-filter {
            height: 40px;
            overflow: hidden;
        }

        .btn-sea {
            margin-bottom: 8px;
            margin-right: 5px;
        }

        .show-all {
            position: absolute;
            right: 0;
            top: 0;
            .typo_s;
            color: #48A297;
            width: 140px;
            height: 40px;
            display: block;
            line-height: 40px;
        }
    }

    .items-filter {
        padding: 0 20px 20px 20px;
        position: relative;

        .submit {
            display: none;
            position: absolute;
            background: #ECECEC;
            border-radius: 2px;
            padding: 0 25px;
            height: 40px;
            right: 213px;
            white-space: nowrap;
            .typo_s;
            text-transform: uppercase;
            color: #626262;
            margin-top: -4px;
        }

        .title {
            display: block;
            font-weight: 400;
            color: #626262;
            margin: 20px 0;
        }

        .price {
            border-bottom: 1px solid #ECECEC;
            padding: 0 0 14px 0;
            margin: 0 0 40px 0;

            input {
                width: 35px;
                color: #919191;
            }

            .pure-u-1-2 {
                &:first-child {
                    padding-right: 12px;
                }

                &:last-child {
                    padding-left: 12px;
                }

                label {
                    padding: 10px;
                    display: block;
                    height: 40px;
                    border: 1px solid #969696;
                }
            }
        }

        .producers {
            label {
                display: block;
                margin: 7px 0;
                color: #626262;
            }

            input[type="checkbox"] {
                position: relative;
                top: -1px;
                margin-right: 4px;
            }
        }
    }

}

#catalog-products-list-view > div > div {
    display: inline-block;
}


//:nth-child(4)