{% extends 'client_base.html' %}

{% block content%}
    <div id="client-shop-add">
        <div class="h1">Добавление магазина</div>
        <div class="pure-g">
            <div class="pure-u-1-1">
                <div id="client-shop-add-form-view" class="block-ful-x">
                    <form id="add-shop-form" method="POST" action="/api/shop/create/" class="form-block">
                        <div class="pure-g">
                            <div class="pure-u-1-2 left-column">
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">НАЗВАНИЕ МАГАЗИНА</div>
                                    <div class="pure-u-1-1 field-value">
                                        <input type="text" class="b_input_text" value="">
                                    </div>
                                </label>
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">ЮРИДИЧЕСКОЕ ЛИЦО</div>
                                    <div class="pure-u-1-1 field-value">
                                        <input type="text" class="b_input_text" value="">
                                    </div>
                                </label>
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">ОГРН</div>
                                    <div class="pure-u-1-1 field-value">
                                        <input type="text" class="b_input_text" value="">
                                    </div>
                                </label>
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">ГОРОД</div>
                                    <div class="pure-u-1-1 field-value">
                                        <div class="select">
                                            <select>
                                                <option></option>
                                                <option value="0">Москва и МО</option>
                                                <option value="1">Санкт-Петербург и ЛО</option>
                                                <option value="2">Другой город</option>
                                            </select>
                                            <div class="overlay"></div>
                                            <div class="select-wrapper">
                                                <a href="#" class="current-value b_input_text"></a>
                                                <ul>
                                                    <li><a href="#" data-value="0" class="choice">Москва и МО</a></li>
                                                    <li><a href="#" data-value="1" class="choice">Санкт-Петербург и ЛО</a></li>
                                                    <li><a href="#" data-value="2" class="choice">Другой город</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                            <div class="pure-u-1-2 right-column">
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">ТЕЛЕФОН</div>
                                    <div class="pure-u-1-1 field-value">
                                        <input type="text" class="b_input_text phone-mask" value="">
                                    </div>
                                </label>
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">АДРЕС</div>
                                    <div class="pure-u-1-1 field-value">
                                        <input type="text" class="b_input_text" value="">
                                    </div>
                                </label>
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">САЙТ</div>
                                    <div class="pure-u-1-1 field-value">
                                        <input type="text" class="b_input_text" value="">
                                    </div>
                                </label>
                                <label class="pure-g field-wrapper vertical-field">
                                    <div class="pure-u-1-1 field-name">URL ДЛЯ ПОЛУЧЕНИЯ YML-ФАЙЛА</div>
                                    <div class="pure-u-1-1 field-value">
                                        <input type="text" class="b_input_text" value="">
                                    </div>
                                </label>
                            </div>
                            <div class="pure-u-1-1 form-footer">
                                <button type="submit" class="btn btn-purple">ДОБАВИТЬ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}