{% extends 'base.html' %}

{% block content%}
    <div id="content-page">
        <div class="h1">Контакты</div>
        <p>Общество с Ограниченной Ответственностью</p>
        <p>«ТТ Коммуникейшн Групп»</p>
        <p>ОГРН 1157154001685</p>
        <p>ИНН 7106014687</p>
        <p>КПП 710601001</p>
        <p>р/сч 40702810166000002067 в Отделении № 8604 Сбербанка России г. Тула</p>
        <p>к/сч 30101810300000000608</p>
        <p>БИК 047003608</p>
        <p>Юридический / фактический адрес: Российская Федерация, 300028, г. Тула, ул. Болдина, д. 135/23</p>
        <p>&nbsp;</p>
        <p>Телефон: +7 (499) 995-12-17</p>
    </div>
{% endblock content %}
