{% extends 'base_empty.html' %}

{% block content%}
    <div id="client-index-page">
        <img src="{{ STATIC_URL }}dist/images/logo-big.svg">
        <div class="h1">Ваши товары для пользователей по всей России</div>
        <p>Если у вашего магазина есть свой сайт, вы можете добавить на Маркетплейс и свои предложения.</p>
        <p>Платите только за клики пользователя по вашему товарному предложению. Минимальная стоимость клика составляет 3 рубля (1,5 рубля для книг). Эта схема позволяет управлять ценой клика и выводить свои товары на более заметные места.</p>
        <div class="pure-g links-wrapper">
            <div class="pure-u-1-2">
                <a href="{% url 'client:registration' %}" class="btn btn-yellow btn-full-width shadow">Регистрация</a>
            </div>
            <div class="pure-u-1-2">
                <a href="{% url 'client:login' %}" class="btn btn-purple btn-full-width shadow">Вход</a>
            </div>
        </div>
    </div>
{% endblock %}