{% extends 'base_empty.html' %}

{% block content%}
    <div id="sign-in-page">
        <a href="{% url 'client:index' %}"><img src="{{ STATIC_URL }}dist/images/logo-black.svg"></a>
        <div class="h1">Вход</div>
        <div id="client-login-form-view">
            <form id="login-form" class="form-block">
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Email</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="text" class="b_input_text focus_grey shadow" value="">
                    </div>
                </label>
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Пароль</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="text" class="b_input_text focus_grey shadow" value="">
                    </div>
                </label>
                <div class="pure-g form-footer">
                    <div class="pure-u-1-2">
                        <a href="{% url 'client:password_reset' %}" class="btn btn-link btn-link-purple">Забыли пароль?</a>
                    </div>
                    <div class="pure-u-1-2 submit-wrapper">
                        <button type="submit" class="btn btn-purple btn-full-width shadow">Войти</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}