{% extends 'base_empty.html' %}

{% block content %}
    <div id="sign-in-page">
        <a href="{% url 'client:index' %}"><img src="{{ STATIC_URL }}dist/images/logo-black.svg"></a>
        <div class="h1">Смена пароля</div>
        <form action="/api/client/recovery/password/" id="client-password-reset-form-view" method="POST" class="form-block">
            <input name="token" type="hidden" value="{{ token }}">
            <label class="pure-g field-wrapper vertical-field">
                <div class="pure-u-1-1 field-name">Пароль</div>
                <div class="pure-u-1-1 field-value">
                    <input name="password" type="password" class="b_input_text focus_grey shadow" value="">
                </div>
            </label>
            <label class="pure-g field-wrapper vertical-field">
                <div class="pure-u-1-1 field-name">Повторите пароль</div>
                <div class="pure-u-1-1 field-value">
                    <input name="confirm_password" type="password" class="b_input_text focus_grey shadow" value="">
                </div>
            </label>
            <div class="pure-g form-footer">
                <div class="pure-u-1-2">
                </div>
                <div class="pure-u-1-2 submit-wrapper">
                    <button type="submit" class="btn btn-purple btn-full-width shadow">ОТПРАВИТЬ</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}