{% extends 'base_empty.html' %}

{% block content %}
    <div id="sign-in-page">
        <a href="{% url 'client:index' %}"><img src="{{ STATIC_URL }}dist/images/logo-black.svg"></a>
        <div class="h1">Запрос на восстановление пароля</div>
        <form action="{% url 'client-api:recovery' %}" id="client-password-reset-form-view" method="POST" class="form-block">
            <label class="pure-g field-wrapper vertical-field">
                <div class="pure-u-1-1 field-name">Email</div>
                <div class="pure-u-1-1 field-value">
                    <input name="email" type="text" class="b_input_text focus_grey shadow" value="">
                </div>
            </label>
            <div class="pure-g form-footer">
                <div class="pure-u-1-2">
                    <a href="{% url 'client:login' %}" class="btn btn-link btn-link-purple">Вернуться к форме входа</a>
                </div>
                <div class="pure-u-1-2 submit-wrapper">
                    <button type="submit" class="btn btn-purple btn-full-width shadow">ОТПРАВИТЬ</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}