{% extends 'base_empty.html' %}

{% block content%}
    <div id="sign-up-page">
        <a href="{% url 'client:index' %}"><img src="{{ STATIC_URL }}dist/images/logo-black.svg"></a>
        <div class="h1">Регистрация</div>
        <div id="client-registration-form-view">
            <form id="registration-form" class="form-block" method="POST">
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Имя</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="text" class="b_input_text focus_grey shadow" value="">
                    </div>
                </label>
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Фамилия</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="text" class="b_input_text focus_grey shadow" value="">
                    </div>
                </label>
                <div class="pure-g field-wrapper vertical-field radio-wrapper">
                    <div class="pure-u-1-2 field-value">
                        <label class="radio"><input type="radio" checked name="type" /> Физическое лицо</label>
                    </div>
                    <div class="pure-u-1-2 field-value">
                        <label class="radio"><input type="radio" name="type" /> Юридическое лицо</label>
                    </div>
                </div>
                <div class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Регион России</div>
                    <div class="pure-u-1-1 field-value">
                        <div class="select shadow">
                            <select>
                                <option></option>
                                <option value="0">Москва и МО</option>
                                <option value="1">Санкт-Петербург и ЛО</option>
                                <option value="2">Другой город</option>
                            </select>
                            <div class="overlay"></div>
                            <div class="select-wrapper">
                                <a href="#" class="current-value b_input_text shadow"></a>
                                <ul>
                                    <li><a href="#" data-value="0" class="choice">Москва и МО</a></li>
                                    <li><a href="#" data-value="1" class="choice">Санкт-Петербург и ЛО</a></li>
                                    <li><a href="#" data-value="2" class="choice">Другой город</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Номер телефона</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="text" class="phone-mask b_input_text focus_grey shadow" value="">
                    </div>
                </label>
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Email</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="text" class="b_input_text focus_grey shadow" value="">
                    </div>
                </label>
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Пароль</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="password" class="b_input_text focus_grey shadow" value="">
                    </div>
                </label>
                <label class="pure-g field-wrapper vertical-field">
                    <div class="pure-u-1-1 field-name">Повторите пароль</div>
                    <div class="pure-u-1-1 field-value">
                        <input type="password" class="b_input_text shadow focus_grey" value="">
                    </div>
                </label>
                <div class="pure-g field-wrapper vertical-field checkbox-wrapper">
                    <div class="pure-u-1-1 field-value">
                        <label class="checkbox">
                            <input type="checkbox" value=""> Я согласен с <a href="#">условиями оферты и политикой конфиденциальности</a>
                        </label>
                    </div>
                </div>
                <div class="pure-g form-footer">
                    <div class="pure-u-1-2"></div>
                    <div class="pure-u-1-2 submit-wrapper">
                        <button type="submit" class="btn btn-purple btn-full-width shadow">Зарегестрироваться</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}