<div id="client-shop-detail-call-view" class="help">
    <p>Если у вас возникли вопросы по заполнению данных, если вам требуется помощь или совет, пожалуйста, обращайтесь в наш Call-центр.</p>
    <p>Оператор обязательно подскажет вам решение и поможет решить проблему.</p>
    <div class="contacts">
        <div class="title">Call-центр</div>
        <p></p>
        <p>
            <!--<a href="mailto:youknownothing@jonsnow.com">youknownothing@jonsnow.com</a>-->
            +7 (499) 995-12-17
        </p>
    </div>
</div>
