<div class="block-2-x help">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    <p>Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.</p>
    <div class="contacts">
        <div class="title">Call-центр</div>
        <p>
            <a href="mailto:youknownothing@jonsnow.com">youknownothing@jonsnow.com</a>
            <br>
            +7 (123) 456 78 90
        </p>
    </div>
</div>