<ul class="catalog-menu">
     <li class="has-submenu">
        <a href="#">Статистика</a>
        <ul>
            <li><a href="/client/statistics/">По магазину</a></li>
            <li><a href="/client/statistics/">По прайс-листу</a></li>
        </ul>
    </li>
    <li class="has-submenu">
        <a href="#">Прайс-листы</a>
        <ul>

            {% for yml in current_shop.get_ymls %}
                <li>
                    <a href='{% url "client:pricelist_detail" yml.id%}'>
                        {{ yml.name }}
                    </a>
                </li>
            {% endfor %}
            <li><a href="{% url 'client:pricelist_add' %}">Добавить прайс-лист</a></li>
        </ul>
    </li>
    {% if current_shop %}
        <li>
            {% url 'client:shop_detail' as url %}
            <a href="{% url 'client:shop_detail' current_shop.pk %}">Данные магазина</a>
        </li>
    {% endif %}
</ul>