<ul class="catalog-menu">
     <li class="has-submenu">
        <a href="#">Статистика</a>
        <ul>
            <li><a href="#">По магазину</a></li>
            <li><a href="#">По прайс-листу</a></li>
        </ul>
    </li>
    <li class="has-submenu">
        <a href="#">Прайс-листы</a>
        <ul>
            <li><a href="#">Добавить прайс-лист</a></li>
        </ul>
    </li>
    {% if current_shop %}
        <li>
            <a href="{% url 'client:shop_detail' current_shop.pk %}">Данные магазина</a>
        </li>
    {% endif %}
</ul>