{% extends 'base.html' %}

{% load catalog_utils %}

{% block content%}
    <div id="items-list-page">
        <div id="block-breadcrumbs">
            <ul>
                <li><a href="{% url 'catalog:categories_list' %}">Все категории</a></li>
                {% for item in object|get_breadcrumbs_by_category %}
                    {% if forloop.last %}
                        <li><span>{{ item.object.name }}</span></li>
                    {% else %}
                        <li><a href="{{ item.url }}">{{ item.object.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="h1">{{ object.name }}</div>
        <div class="pure-g">
            <div class="pure-u-3-4">
                {% if children_categories|length > 0 %}
                    <div class="categories-filter-wrapper">
                        <div class="categories-filter">
                            {% for category in children_categories %}
                                <a href="{% url 'catalog:category_products_list' category.pk %}" class="btn btn-sea">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                        <a href="#" class="show-all" style="display: none;">Все {{ children_categories|length }} категорий</a>
                    </div>
                {% endif %}
                <div class="items-list-page-wrapper">
                    <div id="catalog-products-layout">
                        <div id="catalog-products-list-view" class="items-wrapper"></div>
                    </div>
                    <div id="catalog-products-pager-view">
                        <button type="button" class="btn btn-grey btn-full-width" style="display: none;">Показать еще</button>
                    </div>
                    <div id="categories-list-page" class="not-found-products">
                        <p>По вашему запросу ничего не нашлось.</p>
                    </div>
                </div>
            </div>
            <div class="pure-u-1-4 text-right">
                <div class="block-1-x text-left">
                    <div id="catalog-products-filter-view">
                        <form class="items-filter">
                            <input type="hidden" name="category" id="category" value="{{ object.pk }}" />
                            <div class="price">
                                <span class="title">Цена, руб</span>
                                <div class="pure-g">
                                    <div class="pure-u-1-2">
                                        <label>от <input type="text" id="price_from" placeholder="0" /></label>
                                    </div>
                                    <div class="pure-u-1-2">
                                        <label>до <input type="text" id="price_till" placeholder="9999" /></label>
                                    </div>
                                </div>
                            </div>
                            <div class="producers">
                                <span class="title">Производитель</span>
                                {% for brand in brands %}
                                    <label class="checkbox"><input type="checkbox" value="{{ brand.pk }}" class="brand-input" /> {{ brand.name }}</label>
                                {% endfor %}
                            </div>
                            <button class="submit" type="submit">Показать <span>(40)</span></button>
                        </form>
                    </div>
                </div>
                <div id="banner">
                    <a href="http://alterprice.staging.corp.createdigital.me" target="_blank"><img src="/static/dist/images/banner.jpg" /></a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}