{% extends 'base.html' %}

{% load catalog_utils %}

{% block content%}
    <div id="subcategories-list-page">
        <div id="block-breadcrumbs">
            <ul>
                <li><a href="{% url 'catalog:categories_list' %}">Все категории</a></li>
                {% for item in object|get_breadcrumbs_by_category %}
                    {% if forloop.last %}
                        <li><span>{{ item.object.name }}</span></li>
                    {% else %}
                        <li><a href="{{ item.url }}">{{ item.object.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="h1">{{ object.name }}</div>
        <div>
            {% for category in children_categories %}
                {% cycle '<div class="row">' '' '' %}
                <div class="block-03-x">
                    <a href="{% url 'catalog:category_categories_list' category.pk %}">
                        <div class="image" {% if category.get_preview %}style="background-image: url({{ category.get_preview }})"{% endif %}></div>
                        <div class="title">{{ category.name }}</div>
                    </a>
                    <ul>
                        {% for subcategory in category.get_children %}
                            <li><a href="{% url 'catalog:category_products_list' subcategory.id %}">{{ subcategory.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% if forloop.last %}
                    </div>
                {% else %}
                    {% cycle '' '' '</div>' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}