{% extends 'base.html' %}

{% load catalog_utils %}

{% block content%}
    <div id="categories-list-page">
        <div id="block-breadcrumbs">
            <ul>
                <li><a href="{% url 'catalog:categories_list' %}">Все категории</a></li>
                {% for item in object|get_breadcrumbs_by_category %}
                    {% if forloop.last %}
                        <li><span>{{ item.object.name }}</span></li>
                    {% else %}
                        <li><a href="{{ item.url }}">{{ item.object.name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="h1">{{ object.name }}</div>
        <div>
            {% for category in object.get_children  %}
                <a href="{% url 'catalog:category_products_list' category.pk %}" class="block-1-1">
                    <div class="image" {% if category.get_preview %}style="background-image: url({{ category.get_preview }})"{% endif %}></div>
                    <div class="title">{{ category.name }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}